demo: learn_mu_field_stack_material_holdout
seed: 0
dt: 0.01
dtype: float32
device: cpu

task:
  kind: mu_stack_field

  mu_init: 0.2
  mu_max: 1.0
  mlp_hidden: 24
  lr: 0.1

  train_iters: 140
  rollout_steps: 5
  n_train: 16
  n_val: 10

  omega_range: [3.0, 8.0]
  vx_range: [0.0, 0.2]
  vx_bottom_range: [2.0, 3.0]
  val_omega_range: [1.0, 4.0]
  val_vx_range: [0.0, 0.2]
  val_vx_bottom_range: [2.0, 3.0]

  material:
    enabled: true
    max_material_id: 4
    ground_material_id: 0
    body_material_pool: [1, 2, 3, 4]
    train_body_material_patterns:
      - [1, 1, 1]
      - [2, 2, 2]
      - [3, 3, 3]
      - [1, 2, 1]
      - [1, 2, 2]
      - [2, 3, 2]
      - [2, 3, 3]
      - [1, 3, 2]
    val_body_material_patterns:
      - [1, 1, 1]
      - [2, 2, 2]
      - [3, 3, 3]
      - [1, 2, 1]
      - [1, 2, 2]
      - [2, 3, 2]
      - [2, 3, 3]
      - [1, 3, 2]

  true_rule:
    base_ground: 0.55
    base_pair: 0.22
    speed_gain: 0.18
    speed_scale: 2.5
    vn_gain: 0.08
    pen_gain: 0.06
    mu_min: 0.02
    material_bias: [0.0, -0.04, 0.0, 0.04, 0.1]

  ood_cases:
    - name: unseen_material4_only
      dt: 0.01
      steps: 5
      n: 10
      omega_range: [4.0, 10.0]
      vx_range: [0.0, 0.2]
      vx_bottom_range: [2.0, 3.0]
      material_overrides:
        body_material_patterns:
          - [4, 4, 4]
          - [4, 4, 2]
          - [2, 4, 4]
    - name: holdout_pair_13
      dt: 0.01
      steps: 5
      n: 10
      omega_range: [4.0, 10.0]
      vx_range: [0.0, 0.2]
      vx_bottom_range: [2.0, 3.0]
      material_overrides:
        body_material_patterns:
          - [1, 1, 3]
          - [3, 3, 1]
          - [1, 3, 3]
          - [3, 1, 1]
          - [1, 3, 1]
          - [3, 1, 3]
    - name: holdout_pair_13_dt2x
      dt: 0.02
      steps: 5
      n: 10
      omega_range: [4.0, 10.0]
      vx_range: [0.0, 0.2]
      vx_bottom_range: [2.0, 3.0]
      material_overrides:
        body_material_patterns:
          - [1, 1, 3]
          - [3, 3, 1]
          - [1, 3, 3]
          - [3, 1, 1]
          - [1, 3, 1]
          - [3, 1, 3]
    - name: holdout_pair_13_dt3x_low_iters
      dt: 0.03
      steps: 5
      n: 10
      omega_range: [4.0, 10.0]
      vx_range: [0.0, 0.2]
      vx_bottom_range: [2.0, 3.0]
      engine_overrides:
        pgs_iters: 8
        pgs_relaxation: 1.35
      material_overrides:
        body_material_patterns:
          - [1, 1, 3]
          - [3, 3, 1]
          - [1, 3, 3]
          - [3, 1, 1]
          - [1, 3, 1]
          - [3, 1, 3]

engine:
  mass: 1.0
  radius: 0.5
  gravity: 9.81
  ground_height: 0.0
  contact_slop: 0.001
  impact_velocity_min: 0.2
  pgs_iters: 20
  baumgarte_beta: 0.2
  residual_tol: 1.0e-6
  warm_start: true

loss:
  w_q: 0.1
  w_v: 1.0
  w_pen: 0.0
  w_comp: 0.0
  w_res: 0.0
